# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Logs and output files
*.log
*.out
*.err

# WandB auto-logs
wandb/
**/*.wandb/
wandb/latest-run



# Core dumps
core.*



# Ignore the .DS_Store files on macOS
.DS_Store


# docker logs
*_docker_stderror*

